{
  "presets": ["flow", "react", ["env", { "modules": false }]],
  "plugins": [
    "transform-es2015-destructuring",
    ["transform-object-rest-spread", { "useBuiltIns": true }]
  ],
  "env": {
    "test": {
      "presets": ["env"]
    },
    "production": {
      "plugins": ["external-helpers"]
    }
  }
}
